{% extends 'layout.html.twig' %}
{% block title%} list personne{% endblock %}
{% block PageTitle %} List personne{% endblock %}
{% block pagebody%}
    {% if stat is defined %}

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    nbre de Personne</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stat['nbPersonne'] }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Moyen d'age</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stat['avgUserAge'] }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    {% endif %}

<div class="row">
    {% for personne in personnes %}
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personne.firstname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstname }} {{ personne.name }}</h6>
            <p class="card-text"> </p>
            <a href="#" class="card-link">todo</a>
            <a href="{{ path('personne.detail',{id:personne.id}) }}" class="card-link">details</a>
            <a href="{{ path('personne.edit',{id:personne.id}) }}" class="card-link">edit</a>
            <a href="{{ path('personne.delete',{id:personne.id}) }}" class="card-link">delete</a>

        </div>
    </div>
    {% endfor %}
</div>
    {% if ispaginated is defined and ispaginated %}
    <div class="row mt-3">{%set p=page -1 %}{% set s=page +1 %}
        <di class="col"><nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item{% if page==1 %} disabled {% endif %}">
                        <a class="page-link" href="{{path('personne.alls',{page:p,nbel:nbel})}} " aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
{% if page>1 %} <li class="page-item"><a class="page-link" href="{{path('personne.alls',{page:p,nbel:nbel})}}">{{ p }}</a></li>{% endif %}
<li class="page-item active"><a class="page-link" href="{{path('personne.alls',{page:page,nbel:nbel})}}">{{ page }}</a></li>
{% if page<nbpage %}<li class="page-item"><a class="page-link" href="{{path('personne.alls',{page:s,nbel:nbel})}}">{{ s}}</a></li>{% endif %}
                    <li class="page-item {% if page==nbpage %} disabled {% endif %}">
                        <a class="page-link" href="{{path('personne.alls',{page:s,nbel:nbel})}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav></di>
{#        ou {% for i in range(1,fin) %}#}
    </div>
    {% endif %}
{% endblock %}