{% extends 'layout.html.twig' %}

{% block title %}etudiants list{% endblock %}
{% block PageTitle %}La liste des etudiants{% endblock %}
{% block link %}
<lind>

    <link href="{{ asset('assets/css_js/style.css') }}" rel="stylesheet">
</lind>{% endblock %}

{% block pagebody %}
    <table class="table">
        <tr class="table-active">
            <th>firstname</th>
            <th>name</th>
            <th>section</th>
            <th>Action</th>
        </tr>
        {% for et in etudiants %}
{#             is even càd pair#}
            <tr class="{% if loop.index0%4==0 %}c{% elseif loop.index0%4==1 %}cc{% elseif loop.index0%4==3 %}ccc{% endif %}" >
                <td> {{ et.nom}} </td>
                <td> {{ et.prenom}} </td>
                <td> {% if (et.section!=null ) %}{{ et.section.designation}}{% else%}Etlm non encore affecte a une section{% endif%} </td>
                <td><a href="{{ path('etudiant.edit',{'id':et.id}) }}" >edit</a> <a href="{{ path('etudiant.delete',{'id':et.id}) }}">delete</a></td>
            </tr>
        {% endfor %}

    </table>

    <script src="{{ asset('assets/css_js/script.js') }}"></script>
{% endblock %}
